body,
html {
    width: 100%;
    height: 100%;
}

body {
    background-color: #F2F2F2;
}

#landing {
    width: 100%;
    height: 100%;
    text-align: center;

}


/*Landing*/

.title {
    color: #D97D0D;
    /*border:1px solid;*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Khand', sans-serif;
}

.title h1 {
    font-size: 50px;
}


.title h3 {
    font-size: 20px;
}

#landing img {
    width: 300px;
    height: 300px;
    opacity: .3;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*About*/

#about {
    margin-top: 100px;
    background-color: #D94B18;
    color: white;
    padding: 20px;
    margin-bottom: 50px
}

#about h2 {
    font-family: 'Khand', sans-serif;
    font-size: 40px;
}

#about h4 {
    font-family: 'Imprima', sans-serif;
}

/*Character*/

#rules {
    text-align: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 50px
}

#rules h2 {
    background-color: #D97D0D;
    color: white;
    font-family: 'Khand', sans-serif;
    font-size: 40px;
    padding: 35px;
    margin-bottom: 35px
}

.col-md-3 {
    color: #F2F2F2 !important;
    padding: 20px;
    color: black;
    font-family: 'Imprima', sans-serif;
}

.col-md-3:nth-child(1) {
    background-color: #F2CD13;
}

.col-md-3:nth-child(2) {
    background-color: #085A8C;
}

.col-md-3:nth-child(3) {
    background-color: #D97D0D;
}

.col-md-3:nth-child(4) {
    background-color: #D94B18;
}

/*Club*/

#meeting {
    text-align: center;
    color: white;
    margin-bottom: 50px;
}

#meeting h2 {
    font-family: 'Khand', sans-serif;
    letter-spacing: 2px;
}

#meeting h3 {
    font-family: 'Imprima', sans-serif;
}

#meeting .col-md-4 {
    padding: 20px;
}

#meeting .col-md-4:nth-child(1) {
    background-color: #D94B18;
}

#meeting .col-md-4:nth-child(2) {
    background-color: #085A8C;
}

#meeting .col-md-4:nth-child(3) {
    background-color: #D94B18;
}

/*Resources*/

.carousel img {
    width: 400px;
    height: 400px;
}

#resources {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 35px;
    font-family: 'Khand', sans-serif;
    color: #F2F2F2;

}

#title2 {
    background-color: #085A8C;
    margin: 0px;
}

#resources h2 {
    font-size: 45px;
}

#resources h4 {
    font-size: 20px;
}

/*Contact*/

#emails {
    text-align: center;
    color: white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 50px;
    background: linear-gradient(to right, #D94B18 50%, #085A8C 50%);
    margin-bottom: 20px;
}

#emails h2 {
    font-family: 'Khand', sans-serif;
    font-size: 50px;
}

#emails h5 {
    font-family: 'Imprima', sans-serif;
}


/*media*/

@media(min-width:768px) {
    .title h1 {
        font-size: 70px;
    }
    .title h3 {
        font-size: 30px;
    }

    #emails {
        padding: 100px;
    }
}

@media(max-width:768px) {
    .carousel img {
        max-height: 300px;
        max-width: 300px;
        min-height: 200px;
        min-width: 200px;
    }

    #landing img {
        width: 200px;
        height: 200px;
    }
}

@media(min-height:992px) {
    .title h1 {
        font-size: 100px;
    }
    .title h3 {
        font-size: 40px;
    }

    nav .navbar-nav li a {
        font-size: 25px !important;
    }

    #about h2 {
        font-size: 55px;
    }

    #about h4 {
        font-size: 30px;
    }

    #rules h2 {
        font-size: 55px;
    }

    #rules h4 {
        font-size: 29px;
    }

    #meeting h2 {
        font-size: 45px;
    }

    #meeting h4 {
        font-size: 29px;
    }

    #title2 h2 {
        font-size: 55px;
    }

    #title2 h4 {
        font-size: 30px;
    }

    #emails h2 {
        font-size: 55px;
    }

    #emails h5 {
        font-size: 30px;
    }

    #landing img {
        width: 350px;
        height: 350px;
    }
    
    .carousel img {
       width:500px;
       height:500px;
    }
    


}

/*Nav css*/

nav .navbar-nav li a {
    font-family: 'Imprima', sans-serif;
    color: #D97D0D !important;
    font-size: 18px;
}

nav {
    box-shadow: 5px 1px 8px #888888;
}



#scrolltop {
    border: 1px solid;
    position: absolute;
}


/*Carousel Arrows*/

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,<svg xmlns='http://www.w3.org/2000/svg' fill='fff' viewBox='0 0 8 8'><path d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/></svg>") !important;
}
